body{
    font-family: "Roboto Condensed", serif;
    background-color: #1b1348;
}

#main-name{
    display: inline;
    font-size: 2rem;
}

#my-main{
    color: white;
}

.main-section{
    align-items: center;
}

.main-section-text{
    font-size: 4rem;
    text-align: left;
    line-height: 4rem;
}

#main-section-name{
    text-align: left;
    color: #FF5D2C;
    letter-spacing: 0.5rem;
}

h1{
    color: white;
}

#my-stack h5{
    text-align: center;
}

.stack-img{
    width: 8rem;
}

#stack-title{
    font-size: 4rem;
    text-align: center;
}

#aboutme h1{
    font-size: 4rem;
    text-align: center;
    letter-spacing: 0.2rem;
}

#myportfolio h1{
    font-size: 4rem;
    text-align: center;
    letter-spacing: 0.2rem;
}

#myportfolio h2{
    font-size: 2.5rem;
    text-align: center;
    color: white;
}

#myportfolio a{
    color:#FF5D2C;
}

.card{
    background-color: whitesmoke;
}

.my-sites{
    font-size: 1.5rem;
}

.about-me-text{
    color: white;
    text-align: left;
    font-size: 2rem;
    font-weight: 200;
}

#contactme{
    text-align: center;
}

#contactme h1{
    font-size: 4rem;
    text-align: center;
    letter-spacing: 0.2rem;
}

#contactme a{
    color:whitesmoke;
}

.contact-cards{
    background-color: #FF5D2C;
}

#footer p{
    letter-spacing: 0.4rem;
}